
body {
background-color: /*BurlyWood*/ #F0F8FF;
color: indigo; 
/*font-family: arial, helvetica, sans-serif;*/

font-family: "Times New Roman", Times, serif;
}

/*Photo stuff*/
.characterphotos {
  grid-area: photos;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.characterpic {
  padding: 15px;
	font-family: "Times New Roman", Times, serif;
}
.characterpic figcaption {
  font-size: .9rem;
  line-height: 1.1rem;
  margin-top: 3px;
}
.characterpic img {
  display: block;
  border: 1px solid;
}





ol {list-style-type: lower-alpha;
padding: 5em;
    
}
